{% extends "TimemaniacsUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
<div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}
<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
                <h2>Login</h2>

                <form action="{{ path("fos_user_security_check") }}"  class="form-horizontal" method="post">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <div class="controls">
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <div class="controls">
                                <input type="password" id="password" name="_password" required="required" />
                            </div>
                        </div>
                            
                        <div class="control-group">
                            <div class="controls">
                            <label for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                                <a href="{{ path('fos_user_resetting_request') }}">Forget password</a>
                            </div>
                            </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div> <!-- /container -->
{% endblock fos_user_content %}

