{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="well">
    <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
</div>

{% endblock %}
