{% extends "TimemaniacsUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="well">
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
</div>

{% endblock fos_user_content %}
