<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">
<h2>Reset password</h2>
<form action="{{ path('fos_user_resetting_send_email') }}" class="form-horizontal" method="POST" class="fos_user_resetting_request">
    <fieldset>
        <div class="clearfix">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
            {% endif %}
            <input type="text" id="username" name="username" required="required" placeholder="{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}" />
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </fieldset>

</form>
            </div>
        </div>
    </div>
</div> <!-- /container -->