<div class="container">
    <div class="content">
        <div class="row">
            <div class="login-form">

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} class="form-horizontal"  method="POST" class="fos_user_resetting_reset">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
            </div>
        </div>
    </div>
</div> <!-- /container -->