{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mindmap list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('mindmap_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.company }}</td>
                <td>
                <div class="btn-group">
                    <a class="btn" href="{{ path('mindmap_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn" href="{{ path('mindmap_edit', { 'id': entity.id }) }}">edit</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn" href="{{ path('mindmap_new') }}"> Create a new entry </a>
    </div>
    {% endblock %}
