{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}
<style>
    #container {
        background-color: #FFFFFF;

        width: 100%;
        height: 700px;
    }
    #xcontainer {
        background-size: 22px 22px;
        background-image:
        -webkit-repeating-linear-gradient(45deg, rgba(127, 191, 255, .4), rgba(127, 191, 255, .4) 1px, transparent 2px, transparent 15px),
        -webkit-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .4), rgba(255, 182, 193, .4) 1px, transparent 2px, transparent 15px);
        background-image:
        -moz-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
        -moz-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
        background-image:
        -o-repeating-linear-gradient(45deg, rgba(0, 191, 255, .5), rgba(0, 191, 255, .5) 1px, transparent 2px, transparent 15px),
        -o-repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
        background-image:
        repeating-linear-gradient(45deg, rgba(127, 191, 255, .5), rgba(127, 191, 255, .5) 1px, transparent 2px, transparent 15px),
        repeating-linear-gradient(-45deg, rgba(255, 182, 193, .5), rgba(255, 182, 193, .5) 1px, transparent 2px, transparent 15px);
    }
    .ideaInput {
        position: absolute;
        border: none;
        z-index: 999;
        background-color: transparent;
        color: #F8F8F8;
        font-family: "Helvetica";
        font-weight: bold;
        font-size: 13;
        text-align: center;
        resize: none;
    }
    .ideaInput:focus {
        outline: none;
    }
</style>
{% endblock %}

{% block body %}

		

    <div class="btn-group">
    <input type="button" class="btn btn-small resetView" value="0"></input>
    <input type="button" class="btn btn-small scaleUp" value="+"></input>
    <input type="button" class="btn btn-small scaleDown" value="-"></input>
    <input type="button" class="btn  btn-small  addSubIdea" value="add"></input>
    <input type="button" class="btn  btn-small editNode" value="edit"></input>
    <input type="button" class="btn  btn-small removeSubIdea" value="delete"></input>
    <input type="button" class="btn  btn-small insertIntermediate" value="insert parent"></input>
    <input type="button" class="btn  btn-small toggleCollapse" value="exp/col"></input>
    <input type="button" class="btn  btn-small" onclick="mapModel.setInputEnabled(false)" value="disable"></input>
    <input type="button" class="btn  btn-small" onclick="mapModel.setInputEnabled(true)" value="enable"></input>
    <input type="button" class="btn  btn-small undo" value="undo"></input>
    <input type="button" class="btn  btn-small redo" value="redo"></input>
    <input type="button" class="btn  btn-small" data-mm-action="export-image" value="Export To Image"/>
    <input type="button" class="btn  btn-small cut" value="cut"></input>
    <input type="button" class="btn  btn-small copy" value="copy"></input>
    <input type="button" class="btn  btn-small paste" value="paste"></input>
    <input type="button" class="btn  btn-small openAttachment" value="open attachment"></input>
    </div>

    Background: <input type="text" class='updateStyle' data-mm-target-property='background'></input>
    <div id="container"></div>

<a id="tsetbutton">test buttton</a>
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{ asset('js/mindmup/lib/jquery.mousewheel-3.1.3.js') }}"></script>
<script src="{{ asset('js/mindmup/lib/jquery.hotkeys.js') }}"></script>
<script src="{{ asset('js/mindmup/lib/jquery.hammer.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/lib/underscore-1.4.4.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/lib/kinetic-v4.4.3.js') }}"></script>
<script src="{{ asset('js/mindmup/lib/color-0.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/kinetic.clip.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/kinetic.idea.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/kinetic.idea.proxy.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/kinetic.connector.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/observable.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/mapjs.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/url-helper.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/content.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/layout-compressor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/map-model.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/kinetic-mediator.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/map-toolbar-widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/png-exporter.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/src/map-widget.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/mindmup/test/testtree.js') }}"></script>
<script>
    
    
      var keyStr = "ABCDEFGHIJKLMNOP" +
               "QRSTUVWXYZabcdef" +
               "ghijklmnopqrstuv" +
               "wxyz0123456789+/" +
               "=";

  function encode64(input) {
     input = escape(input);
     var output = "";
     var chr1, chr2, chr3 = "";
     var enc1, enc2, enc3, enc4 = "";
     var i = 0;

     do {
        chr1 = input.charCodeAt(i++);
        chr2 = input.charCodeAt(i++);
        chr3 = input.charCodeAt(i++);

        enc1 = chr1 >> 2;
        enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
        enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
        enc4 = chr3 & 63;

        if (isNaN(chr2)) {
           enc3 = enc4 = 64;
        } else if (isNaN(chr3)) {
           enc4 = 64;
        }

        output = output +
           keyStr.charAt(enc1) +
           keyStr.charAt(enc2) +
           keyStr.charAt(enc3) +
           keyStr.charAt(enc4);
        chr1 = chr2 = chr3 = "";
        enc1 = enc2 = enc3 = enc4 = "";
     } while (i < input.length);

     return output;
  }

  function decode64(input) {
     var output = "";
     var chr1, chr2, chr3 = "";
     var enc1, enc2, enc3, enc4 = "";
     var i = 0;

     // remove all characters that are not A-Z, a-z, 0-9, +, /, or =
     var base64test = /[^A-Za-z0-9\+\/\=]/g;
     if (base64test.exec(input)) {
        alert("There were invalid base64 characters in the input text.\n" +
              "Valid base64 characters are A-Z, a-z, 0-9, '+', '/',and '='\n" +
              "Expect errors in decoding.");
     }
     input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");

     do {
        enc1 = keyStr.indexOf(input.charAt(i++));
        enc2 = keyStr.indexOf(input.charAt(i++));
        enc3 = keyStr.indexOf(input.charAt(i++));
        enc4 = keyStr.indexOf(input.charAt(i++));

        chr1 = (enc1 << 2) | (enc2 >> 4);
        chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
        chr3 = ((enc3 & 3) << 6) | enc4;

        output = output + String.fromCharCode(chr1);

        if (enc3 != 64) {
           output = output + String.fromCharCode(chr2);
        }
        if (enc4 != 64) {
           output = output + String.fromCharCode(chr3);
        }

        chr1 = chr2 = chr3 = "";
        enc1 = enc2 = enc3 = enc4 = "";

     } while (i < input.length);

     return unescape(output);
  }

    
    
    
    
    
    
    
    
    
    
       function localget_tree(jQuery){
       
       //var tree =  get_tree();
       
       
      tree = '{{ tmp|raw }}';
       
       //ctree = encode64(tree);
       //alert(ctree);
       
       return JSON.parse(tree);
     //  alert(typeof JSON.parse(tree));
  

        }
    
    jQuery.fn.attachmentEditorWidget = function (mapModel) {
        'use strict';
        return this.each(function () {
            var element = jQuery(this);
            mapModel.addEventListener('attachmentOpened', function (nodeId, attachment) {
                mapModel.setAttachment(
                    'attachmentEditorWidget',
                    nodeId, {
                        contentType: 'text/html',
                        content: prompt('attachment', attachment && attachment.content)
                    }
                );
            });
        });
    };
    (function () {
        window.onerror = alert;
        var container = jQuery('#container'),
        
        content = localget_tree(jQuery);
        idea = MAPJS.content(content),
        
        mapRepository = observable({}),
        isTouch = false,
        renderImages = false,
        mapModel = new MAPJS.MapModel(mapRepository, MAPJS.KineticMediator.layoutCalculator, ['A brilliant idea...', 'A cunning plan...', 'We\'ll be famous...'], ['hoo har']);
        container.mapWidget(console,mapModel, isTouch, renderImages);
        jQuery('body').mapToolbarWidget(mapModel);
        jQuery('body').attachmentEditorWidget(mapModel);
        var pngExporter = new MAPJS.PNGExporter(mapRepository);
        $("[data-mm-action='export-image']").click(pngExporter.exportMap);
        pngExporter.addEventListener('mapExported', function (url) {
                $("<img/>").attr('src',url).appendTo('body');
        });
        mapModel.addEventListener('analytic', console.log.bind(console));
        mapRepository.dispatchEvent('mapLoaded', idea);
        window.mapModel = mapModel;
        
        
        $('#tsetbutton').click(function () {
            
           
           alert(JSON.stringify(idea));
           
           jQuery.ajax({
                type: "POST",
                url: "{{ path('mindmap_set_json', { 'id': entity.id }) }}",
                data: {name: JSON.stringify(idea) },
                error: function (e) {alert( 'not workinfg'); console.log(e)}
            }).done(function( msg ) {
                alert( msg );
            });
           
           
            console.log(idea);
            //console.log(MAPJS.content);
            
        });
        
        
        
    }(jQuery));
    
 
    
</script>


{% endblock %}