{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company edit</h1>

    <form action="{{ path('company_update', { 'id': entity.id }) }}" class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form, {'form_type': 'horizontal'}) }}
        <p>
            <button class="btn" type="submit">Edit</button>
        </p>
    </form>

    <form action="{{ path('company_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <div class="btn-group">
            <a class="btn" href="{{ path('company') }}">
                <i class="icon-chevron-left"></i> Back to the list
            </a>
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>

{% endblock %}
