{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Users</th>
                <th>Created</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    {% for user in entity.users %}
                        {{ user.username }}
                    {% endfor %}
                </td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d') }}{% endif %}</td>
                <td class="actions">
                <div class="btn-group">
                    <a class="btn" href="{{ path('company_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn" href="{{ path('company_edit', { 'id': entity.id }) }}">edit</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn" href="{{ path('company_new') }}">
           <i class="icon-plus"></i> Create a new entry
        </a>
    </div>
    {% endblock %}
