{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company creation</h1>

    <form action="{{ path('company_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <p>
            <a class="btn" href="{{ path('company') }}">
                <i class="icon-chevron-left"></i> Back to the list
            </a>
            <button class="btn" type="submit"><i class="icon-plus"></i> Create</button>
        </p>
    </form>

{% endblock %}
