{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Company</h1>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Users</th>
                {% for user in entity.users %}
                <td>{{ user.username }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('company_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <div class="btn-group">
        <a class="btn" href="{{ path('company') }}">
            Back to the list
        </a>
        <a class="btn" href="{{ path('company_edit', { 'id': entity.id }) }}">
            Edit
        </a>
        <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>

{% endblock %}
