{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>ActivityTime list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Totaltime</th>
                <th>Activity</th>
                <th>Created</th>
                <th>Stoped</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.totalTime }}</td>
                <td>{{ entity.activity }}</td>
                <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="actions">
                <div class="btn-group">
                    <a class="btn" href="{{ path('activitytime_show', { 'id': entity.id }) }}">Show</a>
                    <a class="btn" href="{{ path('activitytime_edit', { 'id': entity.id }) }}">Edit</a>
                </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#
        <div>
            <a class="btn" href="{{ path('activitytime_new') }}">
                <i class="icon-plus"></i> Create a new entry
            </a>
        </div>
    </ul>
    #}
{% endblock %}
{% block javascripts %}{% endblock %}