{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>ActivityTime creation</h1>

    <form action="{{ path('activitytime_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <p class="btn-group">
            <a class="btn" href="{{ path('activitytime') }}">
               <i class="icon-chevron-left"></i> Back to the list
            </a>
            <button class="btn" type="submit"><i class="icon-plus"></i> Create</button>
        </p>
    </form>

{% endblock %}
{% block javascripts %}{% endblock %}