{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>ActivityTime</h1>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Totaltime</th>
                <td>{{ entity.totalTime }}</td>
            </tr>
            <tr>
                <th>Activity</th>
                <td>{{ entity.activity }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.end|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <form action="{{ path('activitytime_delete', { 'id': entity.id }) }}" method="post">
        <div class="btn-group record_actions">

            <a class="btn" href="{{ path('activitytime') }}">
                <i class="icon-chevron-left"></i> Back to the list
            </a>

            <a class="btn" href="{{ path('activitytime_edit', { 'id': entity.id }) }}">
                Edit
            </a>
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
        </div>
    </form>

</div>
{% endblock %}
{% block javascripts %}{% endblock %}