/* 
    Document   : base
    Created on : Apr 6, 2013, 11:10:41 PM
    Author     : nicodejonghe
    Description:
        Purpose of the stylesheet follows.
*/
body { padding: 0px 100px 0 100px; /* 60px to make the container go all the way to the bottom of the topbar */}
div#content-wrapper h1 { border-bottom: 1px solid #ddd;}
.navbar-inner .container-fluid { margin: 0 100px 0 100px;}

.clear { clear: both;}

.border-none th { border: none;}

#header-nav { float: right;}
#header-nav li { list-style: none;}
span.btn.active { cursor: default;}
table.records_list ul li,
table.records_list ul li a.btn,
table.records_list ul li form{ display: inline; }
table.records_list form,
table.records_list ul { margin-bottom: 0;}
table.records_list ul li { margin-right: 5px;}
table.records_list .activity-description{ width: auto;}

table.records_list .activity-actions { width: 100px;}

table .actions { text-align: right;}

table.records_list .lead { line-height: auto; margin-bottom: 0;}

.activities-page table { margin-bottom: 0;}
.activities-page table tr.time-records-table { display: none;}
.activities-page table tr.time-records-table td { padding: 0;}
.activities-page table tr.time-records-table td table { width: 100%;}
.activities-page table tr.time-records-table td table tr { border-bottom: #000;}
.activities-page table tr.time-records-table td table tr td { padding: 8px; border-bottom: #000;}

.accordion-body,
.activities-page .accordion-body { clear: both;}

.story-btn-group { margin-bottom: 30px;}

#accordion { clear:both;}

#accordion .accordion-heading .lead { margin-bottom: 5px; padding: 0 15px;}
#accordion .accordion-heading .lead.editable form { margin-bottom: 0px;}
#accordion .accordion-heading .lead.editable form input { height: 20px;}
#accordion .accordion-inner { background: #f9f9f9;}
#accordion2 .accordion-inner { background: #f9f9f9;}
#accordion2 .accordion-heading .lead { margin-bottom: 5px; padding: 0 15px;}

#accordion .accordion-heading span.label { margin: 0 0 5px 5px;}

#accordion .accordion-group .accordion-body { background: #f9f9f9;}
#accordion .accordion-group .accordion-body .accordion-inner table.table { margin: 150px 0 0 0;}
#accordion .accordion-group .accordion-body .accordion-inner table.table form.billable { margin: 0;}

#accordion2 .accordion-group .accordion-body { background: #f9f9f9;}
#accordion2 .accordion-group .accordion-body .accordion-inner table.table { margin: 150px 0 0 0;}
#accordion2 .accordion-group .accordion-body .accordion-inner table.table form.billable { margin: 0;}
.alert { position: absolute; top: 60px;}

.activities-page #accordion .activity-task-description.editable-description,
.activities-page #accordion .activity-task-description.editable-description form { width: 400px; min-height: 100px;}
.activities-page #accordion .activity-task-description.editable-description { float: left;}

form #timemaniacs_projectbundle_projecttype .control-group #timemaniacs_projectbundle_projecttype_projectResourceAlert:before { content:"- Remember this";}

#wiki-form input,
#wiki-form textarea {
    width: 600px;
}
#wiki-form select { width: 615px; }
#wiki-form textarea { height: 425px;}


#accordion .accordion-heading div.lead.editable form,
#accordion .accordion-heading div.lead.editable-story form,
#accordion .accordion-heading div.lead.editable form input,
#accordion .accordion-heading div.lead.editable-story form input{ width: 300px !important;}

.accordion-heading .accordion-toggle {
    padding: 3px 15px;
}

/*color box*/
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(images/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(/img/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/img/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/img/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/img/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/img/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/img/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/img/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/img/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(/img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff,endColorstr=#00fffffff);
}