/* 
    Document   : gantt.css
    Created on : May 5, 2013, 7:02:49 PM
    Author     : nicodejonghe
    Description:
        Purpose of the stylesheet follows.
*/

.ganttButtonBar {
    margin: 30px 0 0 0;
}
TH, .tableHeader {
color: #000;
background: none;

}
