{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Customer list</h1>

    <table class="table records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pricerate</th>
                <th>Created</th>
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.priceRate }}</td>
                <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="actions">
                <div class="btn-group">
                    <a class="btn" href="{{ path('customer_show', { 'id': entity.id }) }}">show</a>
                    <a class="btn" href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn" href="{{ path('customer_new') }}">
           <i class="icon-plus"></i> Create a new entry
        </a>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}