{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Service creation</h1>

    <form action="{{ path('service_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal' }) }}
        <p class="btn-group">
            <button class="btn" type="submit">Create</button>
            <a class="btn" href="{{ path('service') }}">
            Back to the list
        </a>
        </p>
    </form>

{% endblock %}
{% block javascripts %}{% endblock %}