{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Service</h1>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ entity.rate }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    

    
    <form action="{{ path('service_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <div class="btn-group">
            <button class="btn btn-danger btn-delete" type="submit">Delete</button>
                <a class="btn" href="{{ path('service') }}">
            Back to the list
        </a>
    <a class="btn" href="{{ path('service_edit', { 'id': entity.id }) }}">
            Edit
        </a>
            </div>
        </form>

{% endblock %}
{% block javascripts %}{% endblock %}