{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Wiki edit</h1>
    
    <form id="wiki-form" class="form-horizontal" action="{{ path('wiki_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
            <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Settings</a></li>
            <li><a href="#tab2" data-toggle="tab">Content</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {{ form_row(edit_form.uri, {'form_type': 'horizontal'}) }}
                {{ form_row(edit_form.alias, {'form_type': 'horizontal'}) }}
                {{ form_row(edit_form.project, {'form_type': 'horizontal'}) }}
                {{ form_row(edit_form.menuTitle, {'form_type': 'horizontal'}) }}
            </div>
            <div class="tab-pane" id="tab2">
                {{ form_row(edit_form.title, {'form_type': 'horizontal'}) }}
                {{ form_row(edit_form.body, {'form_type': 'horizontal'}) }}
            </div>
       </div>
    </div>
        
        
        
        {{ form_rest(edit_form) }}
        <p class="btn-group">
            <button class="btn" type="submit">Edit</button>
            <a class="btn" href="{{ path('wiki') }}">Back to the list</a>
        </p>
    </form>


        <form action="{{ path('wiki_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">Delete</button> 
        </form>
{% endblock %}
{% block javascripts %}{% endblock %}