{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Wiki list</h1>
    <table class="table records_list">
        <thead>
            <tr>
                <th>Menutitle</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('wiki_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.project }}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn" href="{{ path('wiki_show', { 'id': entity.id }) }}">show</a>
                        <a class="btn" href="{{ path('wiki_edit', { 'id': entity.id }) }}">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a class="btn" href="{{ path('wiki_new') }}"> Create a new entry </a>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}