{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Wiki creation</h1>

    <form id="wiki-form" action="{{ path('wiki_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
        
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Settings</a></li>
            <li><a href="#tab2" data-toggle="tab">content</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                {{ form_row(form.uri, {'form_type': 'horizontal'}) }}
                {{ form_row(form.alias, {'form_type': 'horizontal'}) }}
                {{ form_row(form.project, {'form_type': 'horizontal'}) }}
                {{ form_row(form.menuTitle, {'form_type': 'horizontal'}) }}
            </div>
            <div class="tab-pane" id="tab2">
                {{ form_row(form.title, {'form_type': 'horizontal'}) }}
                {{ form_row(form.body, {'form_type': 'horizontal'}) }}
            </div>
       </div>
    </div>

    {{ form_rest(form) }}
    <p class="btn-group">
        <button class="btn" type="submit">Create</button>
        <a class="btn" href="{{ path('wiki') }}">Back to the list</a>
    </p>
    </form>

{% endblock %}
{% block javascripts %}{% endblock %}