{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/timemaniacsnode/css/wiki.css') }}">
{% endblock %}

{% block body -%}
<form action="{{ path('wiki_delete', { 'id': entity.id }) }}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    {{ form_widget(delete_form) }}
    <div class="btn-group pull-right">
        <a class="btn" href="{{ path('wiki') }}">Back to the list</a>
        <a class="btn" href="{{ path('wiki_edit', { 'id': entity.id }) }}">Edit</a>
        <a class="btn" href="{{ path('wiki_new') }}">New</a>
        <button class="btn" type="submit">Delete</button>
    </div>
</form>

<h1>{{ entity.title }}</h1>
<div>
    {{ entity.body|markdown }}
</div>


{% endblock %}
{% block javascripts %}{% endblock %}