{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Story edit</h1>

    <form action="{{ path('story_update', { 'id': entity.id }) }}"  class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(edit_form.name, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.company, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.description, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.sprint, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.start, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.end, {'form_type': 'horizontal'}) }}
        <ul class="tags" data-prototype="{{ form_widget(edit_form.activities.vars.prototype)|e }}">      
            {% for activity in edit_form.activities %}
                <li>{{ form_widget(activity, {'form_type': 'horizontal'}) }}</li>
            {% endfor %}
        </ul>

        {{ form_rest(edit_form, {'form_type': 'horizontal'}) }}

        <p>
            <button class="btn" type="submit">Edit</button>
        </p>
    </form>


        <form action="{{ path('story_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <div class="btn-group">
                <button class="btn btn-danger btn-delete" type="submit">Delete</button>
                <a class="btn" href="{{ path('story') }}">Back to the list</a>
            </div>
        </form>
{% endblock %}
{% block javascripts %}
<script>

    // Get the ul that holds the collection of tags
var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Add a activity</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
        collectionHolder.find('li').each(function() {
        addTagFormDeleteLink($(this));
    });
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});
function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
    
    addTagFormDeleteLink($newFormLi);
}
function addTagFormDeleteLink($tagFormLi) {
    var $removeFormA = $('<a href="#">delete this tag</a>');
    $tagFormLi.append($removeFormA);

    $removeFormA.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
</script>
{% endblock %}
