{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Story list for project {{ entities.0.project }}</h1>

    <div class="btn-group pull-right">
        <a class="btn" href="{{ path('wiki') }}">Wikimedia for {{ entities.0.project }}</a>
        <a class="btn" href="{{ path('wiki_new') }}">add wiki page</a>
        <a class="btn" href="{{ path('story') }}">View projects</a>
        <a class="btn" href="{{ path('story_new') }}">Create a new entry</a>
        <a class="btn" href="{{ path('projectplanning', {'project':  entities.0.project }) }}">View gantt / projectplanning</a>
    </div>

    <div class="tabbable tabs-left clear"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            {% for entity in entities %}
                {% if loop.first == 1 %}
                    <li class="active"><a class="active" href="#tab{{ entity.id }}" data-toggle="tab">Section {{ entity.name }}</a></li>
                {% else %}
                    <li><a href="#tab{{ entity.id }}" data-toggle="tab">Section {{ entity.name }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="#tabNostory" data-toggle="tab">No Story attached</a></li> 
        </ul>
      
    <div class="tab-content">
        {% for entity in entities %}

        {% if loop.first == 1 %}
            <div class="tab-pane active" id="tab{{ entity.id }}">
        {% else %}
            <div class="tab-pane" id="tab{{ entity.id }}">
        {% endif %}

        {% if entity.activities|length > 0 %}

            <div class="accordion" id="accordion">
                {% for activity in entity.activities %}  
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ activity.id }}"> 
                                <p class="accordion-toggle activity-id-{{ activity.id }} lead editable pull-left" >{{ activity.name }}</p>
                            </div>
                        </div>
                        <div id="collapse{{ activity.id }}" class="accordion-body collapse">
                            <div class="accordion-inner">
                                
                                <div class="desctiption editable-description activity-description-id-{{ activity.id }}">{{ activity.description }}</div>
                                
                                <table class="table">
                                    {% if activity.activitytimes|length > 0 %}
                                        {% for timerecord in activity.activitytimes %}
                                            <tr>
                                                <td>
                                                    {{ timerecord.start|date('d-m-Y') }}
                                                </td>
                                                <td>
                                                    {{ timerecord.end|date('d-m-Y') }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td>
                                                no records yet
                                            </td>
                                        </tr> 
                                    {% endif %}
                                </table>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
               {% else %}
                 <p>no records</p>
               {% endif %}
               </div>
              {% endfor %}
               <div class="tab-pane" id="tabNostory">
                   <div class="accordion" id="accordion2">
                        {% for activity in activityEntities %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ activity.id }}">
                                        <p class="activity-id-{{ activity.id }} lead editable pull-left" >{{ activity.name }}</p>
                                    </div>
                                </div>
                                <div id="collapse{{ activity.id }}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        
                                        <div class="desctiption editable-description activity-description-id-{{ activity.id }}">{{ activity.description }}</div>
                                        
                                        <table class="table">
                                            {% if activity.activitytimes|length > 0 %}
                                            {% for timerecords in activity.activitytimes %}
                                                <tr>
                                                    <td>
                                                        {{ timerecords.start|date('Y-m-d') }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td>
                                                        no records
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                   </div>
                </div>
            </div>          
        </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('bundles/timemaniacsproject/js/activity.js') }}"></script>
{% endblock %}