{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <a class="btn pull-right" href="{{ path('story_new') }}">Create a new story </a>
    <h1 class="clear">Projects stories list</h1>



<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
   {% for entity in entities %}
    {% if loop.first == 1 %}
          <li class="active"><a class="active" href="#tab{{ entity.id }}" data-toggle="tab">Section {{ entity.name }}</a></li>
    {% else %}
          <li><a href="#tab{{ entity.id }}" data-toggle="tab">Section {{ entity.name }}</a></li>
    {% endif %}
    
   {% endfor %}

  </ul>
  <div class="tab-content">
   {% for entity in entities %}

    {% if loop.first == 1 %}
          <div class="tab-pane active" id="tab{{ entity.id }}">
    {% else %}
          <div class="tab-pane" id="tab{{ entity.id }}">
    {% endif %}
    {% if entity.stories|length > 0 %}
    <div class="story-btn-group btn-group pull-right">
         <a class="btn" href="{{ path('wiki_new') }}">add wiki page</a>
         <a class="btn" href="{{ path('story_actiities_project', {'project': entity.id }) }}"> View all stories for {{ entity.name }} </a>
         <a class="btn" href="{{ path('projectplanning', {'project':  entity.id }) }}"> View gantt / projectplanning </a>
         <a class="btn" href="{{ path('story_create_for_project', {'project': entity.id}) }}">Create new story for {{ entity.name }}</a>
    </div>
     
       <div class="accordion clear-fix" id="accordion">
         {% for story in entity.stories %}
            <div class="accordion-group">
              <div class="accordion-heading">
                    <div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ story.id }}">
                        <div id="story-id-{{ story.id }}" class="lead story-id-{{ story.id }} editable-story pull-left">{{ story.name }}</div>
                    </div>
              </div>
              <div id="collapse{{ story.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    
                    <div style="min-height: 300px">
                        <div id="story-description-id-{{ story.id }}" class="description editable-story-description">{{ story.description }}</div>
                    
                        <div class="btn-group pull-right">
                            <a class="btn" href="{{ path('wiki_new') }}">add wiki page</a>
                            <a class="btn" href="{{ path('story_show', {'id': story.id }) }}"> View story: {{ story.name }} </a>
                            <a class="btn" href="{{ path('story_edit', {'id': story.id }) }}"> Edit story: {{ story.name }} </a>
                            <a class="btn" href="{{ path('activities_project', {'project': story.project.id }) }}"> Edit story: {{ story.name }} </a>
                            <a class="btn" href="{{ path('activity') }}"> View all activities </a>
                        </div>
                    </div>
                    
                    {% if story.activities|length > 0 %}
                    <table class="table">
                        {% for activity in story.activities %}
                            <tr>
                                <td>
                                    {{ activity.name }}
                                </td>
                                <td>
                                    {{ activity.start|date('y-m-d') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table> 
                    {% endif %}
                     
                </div>
              </div>
            </div>
         {% endfor %}
       
      </div>           
                  
                  
     {% else %}
       
        <div class="story-btn-group btn-group pull-right">
            <a class="btn" href="{{ path('story_create_for_project', {'project': entity.id}) }}">Create new story for {{ entity.name }}</a>
        </div>
        <p>No records</p>
     {% endif %}

   </div>
   {% endfor %}
  </div>
</div>
    
{% endblock %}
{% block javascripts %}

        <script src="{{ asset('bundles/timemaniacsproject/js/story.js') }}"></script>


{% endblock %}