{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}

    <h1>Story creation</h1>

    <form action="{{ path('story_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>
        {{ form_row(form.name, {'form_type': 'horizontal'}) }}
        {{ form_row(form.company, {'form_type': 'horizontal'}) }}
        {{ form_row(form.description, {'form_type': 'horizontal'}) }}
        {{ form_row(form.sprint, {'form_type': 'horizontal'}) }}
        {{ form_row(form.start, {'form_type': 'horizontal'}) }}
        {{ form_row(form.end, {'form_type': 'horizontal'}) }}
        <ul class="tags" data-prototype="{{ form_widget(form.activities.vars.prototype)|e }}">      
            {% for activity in form.activities %}
                <li>{{ form_widget(activity, {'form_type': 'horizontal'}) }}</li>
            {% endfor %}
        </ul>
        
        {{ form_rest(form, {'form_type': 'horizontal'}) }}
        <p class="btn-group">
            <button class="btn"type="submit">Create</button>
            <a class="btn" href="{{ path('story') }}">Back to the list</a>
        </p>
    </form>


        
{% endblock %}
{% block javascripts %}
<script>

    // Get the ul that holds the collection of tags
var collectionHolder = $('ul.tags');

// setup an "add a tag" link
var $addTagLink = $('<a href="#" class="add_tag_link">Add a activity</a>');
var $newLinkLi = $('<li></li>').append($addTagLink);

jQuery(document).ready(function() {
    // add the "add a tag" anchor and li to the tags ul
    collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    collectionHolder.data('index', collectionHolder.find(':input').length);

    $addTagLink.on('click', function(e) {
        // prevent the link from creating a "#" on the URL
        e.preventDefault();

        // add a new tag form (see next code block)
        addTagForm(collectionHolder, $newLinkLi);
    });
});
function addTagForm(collectionHolder, $newLinkLi) {
    // Get the data-prototype explained earlier
    var prototype = collectionHolder.data('prototype');

    // get the new index
    var index = collectionHolder.data('index');

    // Replace '__name__' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);

    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);

    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = $('<li></li>').append(newForm);
    $newLinkLi.before($newFormLi);
}
</script>
{% endblock %}
