{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('bundles/adesignscalendar/css/fullcalendar/fullcalendar.css') }}" />

{% endblock %}

{% block body -%}
{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/calendar-settings.js') }}"></script>

{% endblock %}
