{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% set yesterday = FALSE %}
{% set older = FALSE %}
{% block body -%}
    <div class="pull-right">
        <a class="btn" href="{{ path('activity_new') }}">
            <i class="icon-plus"></i> Create a new activity
        </a>
    </div>

    <div class="activities-page">
        <h1>Activities list</h1>
        <h3>Today {{ ""|date('d-m-Y') }}</h3>
        <div class="accordion" id="accordion">
        {% for entity in entities %}
        <div class="accordion-group">

            <div class="accordion-heading">
                <div class="accordion-toggle block" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ entity.id }}">

                    <p class="lead pull-left">
                        <span class="editable activity-id-{{ entity.id }}" data-url="{{ path('activity_ajax_save') }}">{{ entity.name|trim }}</span>
                        {% if entity.service %}
                            <span class="label label-info">#{{ entity.service|trim }}</span>
                            {# <a href="{{ path('project_show', {'id': entity.project.id }) }}"><span class="label">{{ entity.project|trim }}</span></a> #}
                        {% endif %}
                        {% if entity.project %}
                            <a href="{{ path('project_show', {'id': entity.project.id }) }}"><span class="label label-inverse">@{{ entity.project|trim }}</span></a>
                        {% endif %}
                        {% for tag in entity.tags %}
                            <span class="label">{{ tag.name }}</span>
                        {% endfor %}

                    </p>
                    <div class="btn-group pull-right">
                        
                        {% if entity.running %}
                            <a id="activity-timer-{{ entity.id }}" class="activity-timer btn btn-warning running" href="{{ path('activity_stop', { 'id': entity.id }) }}">{{ entity.newTotalTime|trim }}</a>
                        {% else %}
                            <a id="activity-timer-{{ entity.id }}" class="activity-timer btn stoped" href="{{ path('activity_start', { 'id': entity.id }) }}">{{ entity.newTotalTime|trim }}</a>
                        {% endif %}
                        <a class="btn btn-actions" href="{{ path('activity_show', { 'id': entity.id }) }}" title="Show activity"><i class="icon-eye-open hide-text">Show</i></a>
                        <a class="btn btn-actions" href="{{ path('activity_edit', { 'id': entity.id }) }}" title="Edit activity"><i class="icon-edit hide-text">Edit</i></a>
                    </div>
                </div>
            </div>       

            <div id="collapse{{ entity.id }}" class="accordion-body collapse">
              <div class="accordion-inner">

                  <div class="activity-task-description editable-description activity-description-id-{{ entity.id }}">{{ entity.description|markdown|trim|raw }}</div>

                  {% if entity.project %}
                    <form action="#" class="pull-right clear-right" style="clear:right" method="post">
                    <div class="btn-group" >
                        <a class="btn" href="{{ path('activitytime_new') }}">Create new</a>
                        <a class="btn" href="{{ path('kanban', {'project': entity.project.id }) }}">View Kanban</a>
                        <a class="btn" href="{{ path('projectplanning', {'project': entity.project.id }) }}">View Gantt</a>
                        <a class="btn" href="{{ path('calendar') }}">View Calendar</a>
                        <a class="btn" href="{{ path('wiki_project', {'project': entity.project.id }) }}">View wiki</a>
                    </div>
                    </form>
                    <form action="#" class="pull-right clear-right" style="clear:right" method="post">
                      <div class="btn-group" data-toggle="buttons-radio">
                        <button type="button" class="btn">Inprogress</button>
                        <button type="button" class="btn btn-success">Sashimi</button>
                        <button type="button" class="btn">Hold</button>
                        <button type="button" class="btn">Not resolved</button> <!--  btn-danger -->
                      </div>
                    </form>
                    <form action="#" class="pull-right clear-right" style="clear:right" method="post">
                      <div class="btn-group" data-toggle="buttons-radio">
                        {% for service in serviceEntities %}
                              {% if service.name == entity.service %}
                                  <button type="button" class="btn active btn-success">{{ service.name }}</button>
                              {% else %}
                                  <button type="button" class="btn">{{ service.name }}</button>
                              {% endif %}
                        {% endfor %}
                      </div>
                    </form>
                  {% endif %}
                <table class="table">
                    <tr class="border-none">
                        <th>
                            Total time
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            Untill
                        </th>
                        <th>
                            Actions
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                      {% for timeRecord in entity.Activitytimes %}
                          <tr>
                              <td>
                                  {{ timeRecord.totalTime|trim }}
                              </td>
                              <td>
                                  {{ timeRecord.start|date('d-m-Y h:i:s') }}
                              </td>
                              <td>
                                  {{ timeRecord.end|date('d-m-Y h:i:s') }}
                              </td>
                              <td>

                                <div class=" pull-right" data-toggle="buttons-radio">
                                    {% if timeRecord.billable %}
                                        <form class="btn-group billable billable-id-{{ timeRecord.id }}" action="{{ path('activity_billable', { 'id': timeRecord.id, 'status': 0 }) }}" method="post">
                                            <span class="btn btn-success active">Billable</span>
                                            <input id="btn-billable-id-{{ timeRecord.id }}" type="submit" class="btn btn-danger  not-billable" value="Not billable" />
                                        </form>
                                    {% else %}
                                        <form class="btn-group billable billable-id-{{ timeRecord.id }}" action="{{ path('activity_billable', { 'id': timeRecord.id, 'status': 1 }) }}" method="post">
                                            <input id="btn-billable-id-{{ timeRecord.id }}" type="submit"  class="btn btn-success billable" value="Billable" />
                                            <span class="btn btn-danger active ">Not billable</span>
                                        </form>
                                    {% endif %}
                                    
                                </div>
                               </td>
                               <td>
                                <div class="btn-group pull-right">
                                    <a id="btn-show-id-{{ timeRecord.id }}" class="btn btn-show" href="{{ path('activitytime_show', { 'id': timeRecord.id }) }}"><i class="icon-eye-open hide-text">Show</i></a>
                                    <a id="btn-edit-id-{{ timeRecord.id }}" class="btn btn-edit" href="{{ path('activitytime_edit', { 'id': timeRecord.id }) }}"><i class="icon-edit hide-text">Edit</i></a>
                                    <a class="btn btn-delete btn-danger" href="{{ path('activitytime_delete', { 'id': timeRecord.id }) }}"><i class="icon-remove hide-text icon-white">Delete</i></a>
                                </div>
                              </td>
                          </tr>
                      {% endfor %}
                  </table>
                  <form id="form-tag-{{ entity.id }}" class="form-tag" action="{{ path('tag_ajax_add_remove') }}" method="post">
                      <div class="input-append">
                            <input type="text" class="activity-tags span3" name="tags" value="" placeholder="Add[+] and remove[-] tags">
                            <button class="timeslice-save-tags btn" title="Execute"><i class="icon-tags"></i></button>
                      </div>
                  </form>
              </div>
            </div>
        </div>

        {%  if  entity.updated|date('d-m-Y') <= ""|date('d-m-Y') -1 and yesterday == FALSE %}
            <h3>Older</h3>
            {% set yesterday = TRUE %}
        {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}


    <script src="{{ asset('js/preloader/canvas.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    
     <script src="{{ asset('bundles/timemaniacsproject/js/activity.js') }}"></script>

    <script src="{{ asset('bundles/timemaniacsproject/js/preloader/canvas.js') }}"></script>
    <script src="{{ asset('bundles/timemaniacsproject/js/preloader.js') }}"></script>

{% endblock %}