{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% set yesterday = FALSE %}
{% set older = FALSE %}
{% block body -%}
    <div class="pull-right">
        <a class="btn" href="{{ path('activity_new') }}">
            <i class="icon-plus"></i> Create a new activity
        </a>
        <a class="btn" href="{{ path('story_actiities_project', {'project': entities.0.id }) }}">
           Back to stories overview
        </a>
    </div>

    <div class="activities-page">
        <h1>Activities list {{ entities.0.name }}</h1>
        <h3>Today {{ ""|date('d-m-Y') }}</h3>
        <div class="accordion" id="accordion">
        {% for entity in entities %}
                
                {% for activity in entity.activities %}
                
                
        <div class="accordion-group">

            <div class="accordion-heading">
                <div class="accordion-toggle block" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ activity.id }}">

                    <p class="lead pull-left">
                        <span class="editable activity-id-{{ activity.id }}" data-url="{{ path('activity_ajax_save') }}">{{ activity.name|trim }}</span>



                    </p>
                    <div class="btn-group pull-right">

                        <a class="btn btn-actions" href="{{ path('activity_show', { 'id': activity.id }) }}" title="Show activity"><i class="icon-eye-open hide-text">Show</i></a>
                        <a class="btn btn-actions" href="{{ path('activity_edit', { 'id': activity.id }) }}" title="Edit activity"><i class="icon-edit hide-text">Edit</i></a>
                    </div>

                </div>
            </div>       

            <div id="collapse{{ activity.id }}" class="accordion-body collapse">
              <div class="accordion-inner">

                  <div class="activity-task-description editable-description activity-description-id-{{ activity.id }}">{{ activity.description|markdown|trim|raw }}</div>

                  
                <table class="table">
                    <tr class="border-none">
                        <th>
                            Total time
                        </th>
                        <th>
                            From
                        </th>
                        <th>
                            Untill
                        </th>
                        <th>
                            Actions
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                     
                  </table>
                  <form id="form-tag-{{ activity.id }}" class="form-tag" action="{{ path('tag_ajax_add_remove') }}" method="post">
                      <div class="input-append">
                            <input type="text" class="activity-tags span3" name="tags" value="" placeholder="Add[+] and remove[-] tags">
                            <button class="timeslice-save-tags btn" title="Execute"><i class="icon-tags"></i></button>
                      </div>
                  </form>
              </div>
            </div>
        </div>
{% endfor %}
        {%  if  entity.updated|date('d-m-Y') <= ""|date('d-m-Y') -1 and yesterday == FALSE %}
            <h3>Older</h3>
            {% set yesterday = TRUE %}
        {% endif %}
        {% endfor %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

    <script src="{{ asset('js/jquery.jeditable.mini.js') }}"></script>
    <script src="{{ asset('js/reMarked/reMarked.js') }}" > </script>
    <script src="{{ asset('js/preloader/canvas.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/timemaniacsactivity/js/colorbox/jquery.colorbox-min.js') }}"></script>
    <script src="{{ asset('bundles/timemaniacsactivity/js/preloader/canvas.js') }}"></script>
    <script src="{{ asset('bundles/timemaniacsactivity/js/preloader.js') }}"></script>
          <script src="{{ asset('bundles/timemaniacsproject/js/activity.js') }}"></script>
<script src="{{ asset('bundles/timemaniacsproject/js/activitiespage.js') }}"></script>

{% endblock %}