{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Activity creation</h1>

    <form action="{{ path('activity_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <div class="btn-group">
            <a class="btn" href="{{ path('activity') }}">
                <i class="icon-chevron-left"></i> Back to the list
            </a>
            <button class="btn" type="submit"><i class="icon-plus"></i> Create</button>
        </div>
    </form>

{% endblock %}
{% block javascripts %}{% endblock %}