{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Activity</h1>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Totaltime</th>
                <td>{{ entity.totaltime }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>
                {% for tag in entity.tags %}
                	{{ tag.name }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td>{{ entity.project }}</td>
            </tr>
        </tbody>
    </table>

 
<form action="{{ path('activity_delete', { 'id': entity.id }) }}" method="post">
    <div class="btn-group record_actions">
        <a class="btn" href="{{ path('activity') }}">
            Back to the list
        </a>

        <a class="btn" href="{{ path('activity_edit', { 'id': entity.id }) }}">
            Edit
        </a>

        
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>


{% endblock %}
{% block javascripts %}{% endblock %}