{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<title>Timemaniacs project management - {% block title %} info {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Time trackiing and project management tool ">

<!-- Use precompiled CSS files -->
<!-- {{ "{% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}" }} -->
<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('css/base.css') }}">

<!-- Use Assetic -->
<link rel="stylesheet" href="{{ asset('bundles/braincraftedbootstrap/css/bootstrap.compiled.css') }}">
<link rel="stylesheet" href="{{ asset('google-code-prettify/prettify.css') }}">

{% include 'BraincraftedBootstrapBundle::_html5shiv.html.twig' %}
<style>
#preloader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: transparent url('/js/preloader/images/ajax-bg-25.png');
    /* change if the mask should have another color then white */
    z-index:99999; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url("/img/270.gif"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
</style>
{% block stylesheets %}{% endblock %}
</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
    <!-- Navbar
    ================================================== -->
    
    {% include '::menubar.html.twig' %}
    


    <div class="container-fluid" style="margin-top: 60px;">
        {% block body %}{% endblock %}
            
    </div>

    <footer class="footer">
      <div class="container-fluid">

      </div>
    </footer>

<!--[if lt IE 9]>
    <script src="http://www.json.org/json2.js"></script>
<![endif]-->
    
<!-- Use Assetic -->
<script type="text/javascript" src="{{ path('_assetic_jquery_0') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/application.js') }}"></script>
<script src="{{ asset('google-code-prettify/prettify.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('bundles/timemaniacsproject/js/colorbox/jquery.colorbox-min.js') }}"></script>
<script src="{{ asset('bundles/timemaniacsproject/js/overlay.js') }}"></script>

    <script src="{{ asset('js/jquery.jeditable.mini.js') }}"></script>
    <script src="{{ asset('js/reMarked/reMarked.js') }}" > </script>
<script src="{{ asset('bundles/timemaniacsproject/js/activitiespage.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>


<script type="text/javascript">
    //<![CDATA[
        
        $(window).load(function() { // makes sure the whole site is loaded
            $("#status").fadeOut(); // will first fade out the loading animation
            
            if(typeof window.delay == 'function') {
                // function exists, so we can now call it
                $("#preloader").delay(350).fadeOut("slow");
            }
            else {
                $("#preloader").animate({top: 0}, 500).fadeOut('slow');
            }
            
            
            // // will fade out the white DIV that covers the website.
        })
    //]]>
</script>
{% block javascripts %}{% endblock %}
</body>

</html>
{% endspaceless %}