    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('activity') }}">Time Maniacs</a>
          <div class="nav-collapse collapse">

            
            {# {{ knp_menu_render('TimemaniacsActivityTimeBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }} 
            {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }}
            {{ knp_menu_render('TimemaniacsCustomerBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }}
            {{ knp_menu_render('TimemaniacsServiceBundle:Builder:mainMenu', {'nav_type': 'navbar'}) }}#}
              <ul class="nav">
                  <li>
                      <a href="{{ path('activity') }}">Activities</a>
                  </li>
              </ul>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Admin
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        {# Activities #}
                         <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activties</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Resent activties</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:getRecentActivitiesMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit Resent activties</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:setRecentActivitiesMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|striptags('<li> <a> <span> <i>')|raw }}
                            </ul>
                         </li>
                         {# Projects #}
                         <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Resent projects</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit Resent projects</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|striptags('<li> <a> <span> <i>')|raw }}
                            </ul>
                         </li>
                         {# Timerecords #}
                         <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Time records</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View Resent time records</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit time records</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|striptags('<li> <a> <span> <i>')|raw }}
                            </ul>
                         </li>
                         {# Services #}
                         <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">View service</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit service</a>
                                    {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                {{ knp_menu_render('TimemaniacsProjectBundle:Builder:mainMenu', {'nav_type': 'navbar'})|striptags('<li> <a> <span> <i>')|raw }}
                            </ul>
                         </li>
                         {# Customer #}
                         <li class="dropdown-submenu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">cutomer</a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">customer</a>
                                    {{ knp_menu_render('TimemaniacsCustomerBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit service</a>
                                    {{ knp_menu_render('TimemaniacsCustomerBundle:Builder:mainMenu', {'nav_type': 'navbar'})|replace({'<ul class="nav">': '<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 nav">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">','<ul class="menu_level_1 dropdown-menu">': '<ul class="dropdown-menu" class="dropdown-menu" role="menu" aria-labelledby="dLabel">'})|raw }}
                                </li>
                                {{ knp_menu_render('TimemaniacsCustomerBundle:Builder:mainMenu', {'nav_type': 'navbar'})|striptags('<li> <a> <span> <i>')|raw }}
                            </ul>
                         </li>
                         
                         
                    </ul>

                </li>
            </ul>
              <ul class="pull-right inline" style="margin:0; padding: 0;">
                  <li>
                      <form action="{{ path('activity_create') }}" class="navbar-search" method="post">
                          <input type="text" class="search-query" id="timemaniacs_projectbundle_activitytype_name" placeholder="Create new activity" name="timemaniacs_projectbundle_activitytype[name]" required="required" maxlength="255" />
                      </form>
                  </li>
                  {#
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}"><i class="icon-user icon-white hide-text">Edit profile</i></a>
                    </li>
                  #}
              </ul>
          </div>

        </div>
      </div>
    </div>