{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}


<!-- The data for the stories -->
<textarea rows="1" id="stories" style="display: none;">
{% for k in kanban %}
{{ k.queue }}
{% endfor %}
</textarea>


<textarea rows="1"  id="states" style="display: none;">
{% for service in serviceEntities %}
{{ service.name[0:3]|upper }},{{ service.name }}
{% endfor %}
</textarea>

<!-- The HTML starts here -->
<a id="data_link" class="button" href="#" style="float:right;">Data</a>
<a id="board_link" class="button" href="#" style="float:right;">Board</a>
<h1>Kanban Board</h1>
<div id="output"></div>
<div class="clear"></div>

<textarea id="data_output" rows="20" cols="100">
</textarea>
<!-- The HTML ends here -->

<!-- Color definitions for the boxes. Queues are all grey to not distract
     from the real work being done -->
<style type="text/css">
<!--
	#P .box { background-color: #ff0  ; color: #000;}
	#P_Q .box { background-color: #f0f0f0; color: #606060;}
	#D .box { background-color: #ffc300; color: #000;}
	#D_Q .box { background-color: #f0f0f0; color: #606060;}
	#DEV .box { background-color: #b5dbff  ; color: #000;}
	#DEV_Q .box { background-color: #f0f0f0; color: #606060;}
	#T .box { background-color: #a5c700; color: #fff;}
	#T_Q .box { background-color: #f0f0f0; color: #606060;}
	#R .box { background-color: #9ccfff  ; color: #000;}
	#R_Q .box { background-color: #f0f0f0; color: #606060;}
	-->
</style>

<!-- HERE ARE DRAGONS, DON'T CHANGE ! -->

<!-- Layout from the 1-line Grid Framework,
     http://www.vcarrer.com/2009/06/1-line-css-grid-framework.html -->
<style type="text/css">
<!--
    .button { background-color: #e0e0e0; color: #a0a0a0; padding: 0.2em; text-decoration: none;}
    .placeholder {border: 1px solid black; }
     ul { list-style: none; margin: 0 0 0 0; padding: 0 0 0 0;}
	 body { font-family: Helvetica; }
	 .box { font-size: 80%; padding: 0.2em; border: 1px solid black; margin-bottom: 1em; margin-right: 5px;}
	 .dp10 {width:9%;  float:left;  display: inline;  *margin-right:-1px; }
	 .clear {clear:both;}
	 .headline { font-weight: bold; height: 3em; color: #000;}
	 .queue_column .headline { font-weight: bold; height: 3em; color: #d0d0d0;}
	 .footer { font-size: 80%; color: #808080; padding-top: 5em;}
	 -->
</style>
{% block javascripts %}
<script src="{{ asset('js/kanban/kanban.js') }}"></script>
<script language="JavaScript">
$("#board_link").hide();
$("#data_output").hide();

var init_states = function(states_input) {
    var states = {};
	var states_order = [];
	for ( var i=0, len=states_input.length; i<len; i++ ) {
		var state = states_input[i].split(",");
		if (state.length == 2) {
			states[state[0]] = state[1];
			states_order.push(state[0]);
		}
	}
    return {states: states, states_order: states_order};
}

var init_board = function(stories) {
	var board = {};
	for ( var i=0, len=stories.length; i<len; i++ ) {
		var story = stories[i].split(",");
		var state = story[0];
		if (story.length == 3) {
			if (! board[state]) {
				board[state] = [];
			}
			board[state].push(story);
		}
	}
	return board;
}

var create_list = function(board, state) {
	   var list = $("<ul class=\"state\" id=\"" + state + "\"></ul>");
       if (board[state]) {
         for (var i=0, len=board[state].length; i<len; i++) {
            var story_element = $("<li><div class=\"box box_" + state  + "\">" + board[state][i][1] + " " + board[state][i][2] + "</div></li>");
            story_element.data("story",  board[state][i]);
			list.append(story_element);
     	 }
	   }
	   return list
}

var create_column = function(board, state, headline) {
	   var state_column = $("<div class=\"dp10" + ((! /_Q$/.test(state)) ? "" : " queue_column")+ "\"></div>")
	   state_column.append($("<div class=\"headline\">" + headline + "</div>"));
	   state_column.append(create_list(board, state));
	   state_column.data("state", state);
	   return state_column;
}

var create_board = function(app_data) {
	var table = $("<div id=\"board\"></div>");
	var ids = "";
        var queue_state = "A_Q";
			ids += "#" + queue_state + ",";
        var queue_state_column = create_column(app_data.board, queue_state, "Activity Queue")
        table.append(queue_state_column);
        
	for (j=0; j< app_data.states_order.length; j++) {
		var state = app_data.states_order[j];
		if (! /_Q$/.test(state)) {
                    var queue_state = state + "_Q";
			ids += "#" + queue_state + ",";
		    var queue_state_column = create_column(app_data.board, queue_state, app_data.states[state] + " Queue")
			table.append(queue_state_column)

			ids += "#" + state + ","
			var state_column = create_column(app_data.board, state, app_data.states[state])
			table.append(state_column)
		}
                
	}
	$(ids, table).dragsort({ dragBetween: true });
	return table;
}

$("#board_link").click(function () {
  var state_data = init_states($("#states").text().split("\n"));
  var app_data = { board: init_board($("#data_output").val().split("\n")), states: state_data.states, states_order: state_data.states_order}
  $("#output").empty();
  $("#output").append(create_board(app_data));

  $("#output").show();
  $("#data_link").show();
  $("#data_output").hide();
  $("#board_link").hide();
})

$("#data_link").click(function () {
	
  var data = "";
  $("#board .dp10").each(function() {
    var state = $(this).data("state");
	$(this).find("li").each( function() {
	   var story = $(this).data("story");
	   data += state + "," + story[1] + "," + story[2] + "\n";
	});
  });
  $("#data_output").val(data);
  $("#output").hide();
  $("#data_link").hide();
  $("#data_output").show();
  $("#board_link").show();
});

var state_data = init_states($("#states").text().split("\n"));
var app_data = { board: init_board($("#stories").text().split("\n")), states: state_data.states, states_order: state_data.states_order}
$("#output").empty();
$("#output").append(create_board(app_data));


</script>
{% endblock %}
<div class="clear"></div>
<div class="footer">
Written by Stephan Schmidt, who can be found on Twitter <a href="http://twitter.com/codemonkeyism">http://twitter.com/codemonkeyism</a>,
Blog at <a href="http://www.codemonkeyism.com">http://www.codemonkeyism.com</a>,  using
JQuery with the DragSort plugin<br>
This software application is Twitter-Ware. If you like it, use it, or have something to say, <b>follow me</b> and
tell me on Twitter at @codemonkeyism<br/>
    The newest version can be found on <a href="http://www.simple-kanban.com">www.simple-kanban.com</a>
</div>
<!--
	 Copyright (c) 2009 Stephan Schmidt

Permission is hereby granted, free of charge, to any person
obtaining a copy of this software and associated documentation
files (the "Software"), to deal in the Software without
restriction, including without limitation the rights to use,
copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the
Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be
included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE
-->

{% endblock %}
