<div class="container">
    <div class="content">
        <div class="row">
            <div class="register-form">
<h2>Register</h2>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} class="form-horizontal" method="POST" class="fos_user_registration_register">
    <fieldset>
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    </fieldset>
    

</form>
            </div>
        </div>
    </div>
</div> <!-- /container -->