{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Alias creation</h1>

    <form action="{{ path('alias_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('alias') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}{% endblock %}