{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
<h1>Project list</h1>

<div class="accordion" id="accordion">

    {% for entity in entities %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle " data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ entity.id }}">
                    {{ entity.name }}
                </a>
            </div>
            <div id="collapse-{{ entity.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="btn-group pull-right">
                        <a class="btn" href="{{ path('wiki_new') }}">add wiki page</a>
                        <a class="btn" href="{{ path('kanban', { 'project': entity.id }) }}">View kanban</a>
                        <a class="btn" href="{{ path('projectplanning', { 'project': entity.id }) }}">View project planning</a>
                    </div>
                    <table class="table records_list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Tags</th>
                                <th>Last activity</th>
                                <th>Deadline</th>
                                <th class="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.tags }}</td>
                                <td>{{ entity.updated|date('Y-m-d') }}</td>
                                <td>{{ entity.deadline|date('Y-m-d') }}</td>
                                <td class="actions">
                                    <div class="btn-group">
                                        <a class="btn" href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                                        <a class="btn" href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                                    </div>
                                </td>
                            </tr>
                            {% for  activity in entity.activities %}
                                <tr>
                                    <td colspan="5">
                                        <table class="table">
                                            <tr>
                                                <td>{{ activity.totaltime }}</td><td>{{ activity.name }}</td>
                                                <td>{{ activity.running }}</td><td>{#{{ activity.estimate }}#}temp broken</td><td>{{ activity.running }}</td>
                                            </tr>
                                            {% if activity.activityTimes|length > 0 %}
                                                <tr>
                                                    <td colspan="5">
                                                        <table class="table">
                                                            <tr>
                                                                <th>created</th><th>stoped</th><th>totalTime</th>
                                                            </tr>
                                                            {% for activitytime in activity.activityTimes %}
                                                                <tr>
                                                                    <td>{{ activitytime.created|date('Y-m-d') }}</td><td>{{ activitytime.end|date('Y-m-d') }}</td><td>{{ activitytime.totaltime }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">
                                                        <p>No records yet</p>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div>
        <a class="btn" href="{{ path('project_new') }}">
            <i class="icon-plus"></i> Create a new entry
        </a>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}