{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Project creation</h1>

    <form action="{{ path('project_create') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form, {'form_type': 'horizontal'}) }}
        <div class="control-group">
            <div class="controls">
                <div class="btn-group">
                    <a class="btn" href="{{ path('project') }}">
                        <i class="icon-chevron-left"></i> Back to the list
                    </a>
                    <button type="submit" class="btn"><i class="icon-plus"></i> Create</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}{% endblock %}