{% extends '::base.html.twig' %}

{% block title %} info {% endblock %}

{% block stylesheets %}{% endblock %}

{% block body -%}
    <h1>Project</h1>

    <table class="table table-striped record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>

            <tr>
                <th>Tags</th>
                <td>{{ entity.tags }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ entity.created|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>
{% include 'TimemaniacsChartsBundle:Charts:index.html.twig' %}


        <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <div class="btn-group record_actions">
                <a class="btn" href="{{ path('project') }}">
                    Back to the list
                </a>
                <a class="btn"  href="{{ path('project_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
                <button class="btn btn-danger" type="submit">Delete</button>
            </div>
        </form>

{% endblock %}
{% block javascripts %}

<script src="{{ asset('js/charts/highcharts.js') }}"></script>
<script src="{{ asset('js/charts/modules/exporting.js') }}"></script>


<script type="text/javascript">
$(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Project Status'
            },
            subtitle: {
                text: '{{ entity.name }}'
            },
            xAxis: {
                labels: {
                    formatter: function() {
                        return this.value; // clean, unformatted number for year
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Nuclear weapon states'
                },
                labels: {
                    formatter: function() {
                        return this.value +'seconds';
                    }
                }
            },
            tooltip: {
                pointFormat: '{series.name} seconds {point.x}'
            },
            plotOptions: {
                area: {
                    pointStart: {{ entity.created|date('Y-m-d') }},
                    marker: {
                        enabled: false,
                        symbol: 'circle',
                        radius: 2,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                }
            },
            series: [{
                name: 'Activities total times',
                data: [
                {% for activities in entity.activities %}
                    {{ activities.totaltime }}
                        {% if loop.index != loop.last %}
                            ,
                        {% endif %}
                {% endfor %}
                    ]
            }]
        });
    });
    

		</script>

{% endblock %}
